/* Base styles for the project */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    color: white; /* Set font color to white */
}

h1, h2, h3 {
    color: white; /* Headings also white */
    text-align: center;
}

p {
    line-height: 1.6;
    color: white; /* Paragraphs white */
    text-align: center;
}

.container {
    width: 30%;
    margin: auto;
    overflow: hidden;
}

header {
    background: purple;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


footer {
    background: #060608; /* Blue footer */
    color: black; /* Footer text color black */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}